/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Fonts */
@font-face {
  font-family: 'AdelleBasic_Bold';
  src: url("../fonts/AdelleBasic_Bold.eot"), url("../fonts/AdelleBasic_Bold.ttf") format("truetype"), url("../fonts/AdelleBasic_Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 18, ../sass/screen.scss */
html {
  font: 17px/1.5 "AdelleBasic_Bold", Helvetica, Arial, sans-serif;
  background: #fefefe;
  color: #444;
}

/* line 24, ../sass/screen.scss */
.inner {
  overflow: hidden;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

/* line 31, ../sass/screen.scss */
strong {
  font-weight: bold;
}

/* line 33, ../sass/screen.scss */
a {
  font-weight: bold;
  text-decoration: none;
  color: #4DB02E;
}
/* line 38, ../sass/screen.scss */
a:hover {
  color: #449c29;
}

/* Header */
/* line 50, ../sass/screen.scss */
.header {
  background: url("../img/header-bg.png") no-repeat right bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 54, ../sass/screen.scss */
.header .inner {
  position: relative;
}

/* line 59, ../sass/screen.scss */
.date {
  position: absolute;
  top: 50px;
  right: 10px;
  font-weight: 600;
}
/* line 64, ../sass/screen.scss */
.date span {
  font-weight: 400;
}
/* line 68, ../sass/screen.scss */
.date .button {
  float: right;
  margin-top: 20px;
}

/* line 74, ../sass/screen.scss */
.button {
  display: inline-block;
  padding: 0 20px;
  border: 2px solid #333;
  font-weight: bold;
  font-size: 14px;
  line-height: 43px;
  text-transform: uppercase;
  color: #333;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
/* line 85, ../sass/screen.scss */
.button:hover {
  background: #333;
  color: #fff;
}

/* line 91, ../sass/screen.scss */
.huge {
  margin: 50px 0 30px;
  font-weight: bold;
  font-size: 144px;
  color: white;
  line-height: 1;
}
/* line 98, ../sass/screen.scss */
.huge span {
  display: block;
  margin-top: -10px;
  font-weight: normal;
  font-size: 108px;
}
/* line 105, ../sass/screen.scss */
.huge a {
  display: block;
  color: #333;
}
/* line 108, ../sass/screen.scss */
.huge a .white {
  color: #fff;
}

/* Content */
/* line 117, ../sass/screen.scss */
.content {
  margin-bottom: 30px;
  font: 17px/1.5 "Myriad Pro",Arial;
}
/* line 121, ../sass/screen.scss */
.content p {
  margin-bottom: 10px;
}
/* line 125, ../sass/screen.scss */
.content .section-header {
  margin-top: 30px;
}
/* line 129, ../sass/screen.scss */
.content .columns {
  margin-bottom: 0;
}
/* line 132, ../sass/screen.scss */
.content .columns .column {
  min-height: 0;
  margin-bottom: 20px;
}
/* line 137, ../sass/screen.scss */
.content .columns p {
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 1.5;
}
/* line 143, ../sass/screen.scss */
.content .columns .three {
  text-align: left;
  margin-right: 20px;
}
/* line 149, ../sass/screen.scss */
.content .bullets {
  font-size: 15px;
}
/* line 152, ../sass/screen.scss */
.content .bullets li {
  margin-bottom: 10px;
}

/* line 158, ../sass/screen.scss */
.columns {
  overflow: hidden;
  margin-bottom: 20px;
}

/* line 163, ../sass/screen.scss */
.column {
  position: relative;
  float: left;
  min-height: 266px;
  text-align: center;
  color: #333;
}
/* line 170, ../sass/screen.scss */
.column.three {
  min-width: 200px;
  width: 33.33%;
}
/* line 175, ../sass/screen.scss */
.column.five {
  width: 20%;
}
/* line 179, ../sass/screen.scss */
.column p {
  margin-bottom: 40px;
  line-height: 1.2;
  font-weight: 600;
}
/* line 184, ../sass/screen.scss */
.column p strong {
  display: block;
  margin-bottom: 10px;
}
/* line 190, ../sass/screen.scss */
.column .content-header {
  margin-top: 0;
}

/* line 195, ../sass/screen.scss */
.column-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
/* line 200, ../sass/screen.scss */
.column-inner .button {
  margin-bottom: 40px;
}

/* line 205, ../sass/screen.scss */
.sao_paulo {
  background: url("../img/2013-10-26-fp-hackathon5_1382994320.jpg") no-repeat right bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 210, ../sass/screen.scss */
.san_francisco {
  background: url("../img/CodeForAmericaSTILL_610x343.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 215, ../sass/screen.scss */
.new_york {
  background: url("../img/6316166190_e02d1ae96a_b.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 220, ../sass/screen.scss */
.section-header {
  font: 17px/1.5 "AdelleBasic_Bold", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  background: #333;
  max-width: 300px;
  padding: 10px 20px;
  margin: 0 30px 30px 0;
  font-weight: bold;
  text-align: right;
  color: #fff;
}

/* line 232, ../sass/screen.scss */
.content-header {
  margin: 20px 0 10px;
  font-weight: bold;
}
/* line 236, ../sass/screen.scss */
.content-header span {
  display: block;
  color: #666;
  font-size: 15px;
  text-transform: uppercase;
}

/* Footer */
/* line 247, ../sass/screen.scss */
.footer {
  padding: 40px 0;
  background: #444;
  color: #666;
}
/* line 252, ../sass/screen.scss */
.footer p {
  font-size: 15px;
  color: #999;
}
/* line 257, ../sass/screen.scss */
.footer a {
  color: #ccc;
}
/* line 260, ../sass/screen.scss */
.footer a:hover {
  color: #eee;
}

/* Media queries */
@media (max-width: 640px) {
  /* line 270, ../sass/screen.scss */
  html {
    font-size: 15px;
  }

  /* line 274, ../sass/screen.scss */
  .date {
    width: 100%;
    text-align: center;
  }
  /* line 278, ../sass/screen.scss */
  .date .button {
    float: none;
  }

  /* line 283, ../sass/screen.scss */
  .huge {
    margin-top: 180px;
    font-size: 96px;
  }
  /* line 287, ../sass/screen.scss */
  .huge span {
    font-size: 72px;
  }

  /* line 292, ../sass/screen.scss */
  .column.three {
    width: 100%;
  }
}
