@import "compass/reset";
@import "compass/css3/background-size";
@import "compass/css3/text-shadow";
@import "compass/css3/transition";


/* Fonts */

@font-face {
  font-family: 'AdelleBasic_Bold';
  src: url('../fonts/AdelleBasic_Bold.eot'),
       url('../fonts/AdelleBasic_Bold.ttf') format('truetype'),
       url('../fonts/AdelleBasic_Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  font: 17px/1.5 "AdelleBasic_Bold", Helvetica, Arial, sans-serif;
  background: #fefefe;
  color: #444;
}

.inner {
  overflow: hidden;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

strong { font-weight: bold; }

a {
  font-weight: bold;
  text-decoration: none;
  color: #4DB02E;

  &:hover {
    color: darken(#4DB02E, 5%);
  }
}


.title {
}


/* Header */

.header {
  background: url('../img/header-bg.png') no-repeat;
  @include background-size(cover);

  .inner {
    position: relative;
  }
}

.date {
  position: absolute;
  top: 50px; right: 10px;
  font-weight: 600;

  span {
    font-weight: 400;
  }

  .button {
    float: right;
    margin-top: 20px;
  }
}

.button {
  display: inline-block;
  padding: 0 20px;
  border: 2px solid #333;
  font-weight: bold;
  font-size: 14px;
  line-height: 43px;
  text-transform: uppercase;
  color: #333;
  @include transition(all .1s);

  &:hover {
    background: #333;
    color: #fff;
  }
}

.huge {
  margin: 50px 0 30px;
  font-weight: bold;
  font-size: 144px;
  line-height: 1;

  span {
    display: block;
    margin-top: -10px;
    font-weight: normal;
    font-size: 108px;
  }

  a {
    display: block;
    color: #333;
  }
}


/* Content */

.content {
  margin-bottom: 30px;

  p {
    margin-bottom: 10px;
  }

  .section-header {
    margin-top: 30px;
  }

  .columns {
    margin-bottom: 0;

    .column {
      min-height: 0;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 10px;
      font-weight: 400;
      line-height: 1.5;
    }

    .three {
      text-align: left;
      margin-right: 20px;
    }
  }

  .bullets {
    font-size: 15px;

    li {
      margin-bottom: 10px;
    }
  }
}

.columns {
  overflow: hidden;
  margin-bottom: 20px;
}

.column {
  position: relative;
  float: left;
  min-height: 266px;
  text-align: center;
  color: #333;

  &.three {
    min-width: 200px;
    width: 33.33%;
  }

  &.five {
    width: 20%;
  }

  p {
    margin-bottom: 40px;
    line-height: 1.2;
    font-weight: 600;

    strong {
      display: block;
      margin-bottom: 10px;
    }
  }

  .content-header {
    margin-top: 0;
  }
}

.column-inner {
  position: absolute;
  top: 0; right: 0; bottom: 0;
  width: 100%;

  .button {
    margin-bottom: 40px;
  }
}

.sao_paulo {
  background: url('../img/2013-10-26-fp-hackathon5_1382994320.jpg') no-repeat;
  @include background-size(cover);
}

.san_francisco {
  background: url('../img/CodeForAmericaSTILL_610x343.jpg') no-repeat;
  @include background-size(cover);
}

.new_york {
  background: url('../img/6316166190_e02d1ae96a_b.jpg') no-repeat;
  @include background-size(cover);
}

.section-header {
  background: #333;
  max-width: 300px;
  padding: 10px 20px;
  margin: 0 30px 30px 0;
  font-weight: bold;
  text-align: right;
  color: #fff;
}

.content-header {
  margin: 20px 0 10px;
  font-weight: bold;

  span {
    display: block;
    color: #666;
    font-size: 15px;
    text-transform: uppercase;
  }
}


/* Footer */

.footer {
  padding: 40px 0;
  background: #444;
  color: #666;

  p {
    font-size: 15px;
    color: #999;
  }

  a {
    color: #ccc;

    &:hover {
      color: #eee;
    }
  }
}


/* Media queries */

@media (max-width: 640px) {
  html {
    font-size: 15px;
  }

  .date {
    width: 100%;
    text-align: center;

    .button {
      float: none;
    }
  }

  .huge {
    margin-top: 180px;
    font-size: 96px;

    span {
      font-size: 72px;
    }
  }

  .column.three {
    width: 100%;
  }
}
