@import "compass/reset";


/* Fonts */

html {
  font: 300 17px/1.5 'Roboto Slab', serif;
  background: #fff;
  color: #202020;
}


/* Layout */

.inner {
  overflow: hidden;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

strong { font-weight: bold; }

a {
  font-weight: bold;
  text-decoration: none;
  color: #4DB02E;

  &:hover {
    color: darken(#4DB02E, 5%);
  }
}


/* Header */

.header {
  background: #6DBC34;

  .inner {
    position: relative;
  }
}
